* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", sans-serif;
}
.team {
  position: relative;
  color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
.team .member {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;

  animation: text 7s ease infinite;
}

.team img.color {
  position: absolute;
  bottom: 0;
  right: -5%;
  height: 40%;
  z-index: 1;
  animation: color 7s ease infinite;
}
.team img.gray {
  height: 110%;

  position: absolute;
  bottom: 0;
  right: -20%;
  opacity: 0.3;
  background-color: bisque;
  animation: gray 7s ease infinite;
}

.team h1 {
  font-size: 3rem;
}

.team h2 {
  font-size: 1.5rem;
}
@keyframes color {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  8% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }

  87% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-5%);
  }
}
@keyframes gray {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  8% {
    opacity: 0;
  }
  13% {
    opacity: 0.3;
  }

  87% {
    opacity: 0.3;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(5%) scale(1.1);
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }

  87% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
