:root {
  --background-color-accent-1: #1e2b3e;
  --background-color-accent-2: #121a26;
  --b-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1rem;
  --fontcolor: #fff;
  --fontcolor-2: #ccc;
  --accent-1: #ccc;
  --accent-2: #fffaf5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Ubuntu", sans-serif;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 10px 110px;
  transition: 0.45s ease;
  background-color: var(--background-color-accent-1);
}
.logo-img-menu img {
  width: 200px;
}
.navbar {
  display: flex;
}
.navbar a {
  padding: 10px 20px;
  color: var(--accent-2);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.45s all linear;
}
.navbar a:hover {
  background-color: var(--background-color-accent-2);
  border-radius: 5px;
}
