* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  background-image: linear-gradient(60deg, #333 0%, rgb(78, 80, 84) 100%);
  font-size: 20px;
}

label {
  font-size: 36px;
}

input {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
}

.passinfo {
  font-size: 18px;
  color: rgb(255, 0, 0);
  padding: 0 0 8px;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
span {
  font-weight: bold;
  color: rgb(164, 71, 240);
}
